table {
  width: 950px;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 10px;
  line-height: 30px;
  color: black;
}

table td.star {
  padding-left: 10px;
  font-weight: bold;
  background-color: #dfdfdf;
}

table td.nostar {
  font-weight: bold;
  background-color: #dfdfdf;
}

table td input {
  height: 25px;
}

table td.star::before {
  display: inline-block;
  width: 15px;
  content: "*";
  color: red;
  position: relative;
  top: 2px;
}

table td.nostar::before {
  display: inline-block;
  width: 15px;
  content: "";
}

table td span {
  font-size: 14px;
  color: gray;
}

table input[type="radio"] {
  position: relative;
  top: 6px;
}

table input[type="submit"] {
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  line-height: 25px;
}

table button{
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  line-height: 25px;
}

table select{
  display: inline-block;
  height: 32px;
  width: 100px;
  padding: 5px;
  border-radius: 2px;
}